<%-  include("partials/header") -%>

    <!-----PROFILE-->
    <div id="profile" class="blue-section ">
        <img class="avatar" src="../public/images/profile.jpeg" alt="Profile Picture of Jakub Havrda">
        <div>
            <h1>Jakub Havrda</h1>
            <p>Web Developer</p>
            <p>Junior App Developer</p>
        </div>
    </div>
    <!-----ABOUT-->
    <div id="about" class="white-section">
        <h1>Skills & Development</h1>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-thin fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-thin fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-thin fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-thin fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
        <div class="about-item col-lg-3 col-md-4 col-sm-6 col-12">
          <i class="fa-2x fa-image"></i>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
   </div>
   <!--------EXPERIENCE------------>
<section id="experience" class="blue-section">

   <div id="experience-carousel" class="carousel slide " data-ride="false">
    <div class="carousel-inner">
      <!-----1st-->
      <div class="carousel-item active">
        <img class="d-block w-100" src="../public/images/carousel/code.jpg" alt="Programming slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Programing</h5>
          <p>I have experience with programms such as JS, express.js, node.js, react.js, ejs, and database MongoDB.</p>
        </div>
      </div>
      <!-----2nd-->
      <div class="carousel-item">
        <img class="d-block w-100" src="../public/images/carousel/sales.png" alt="Sales slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem Ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
      </div>
      <!-----3rd-->
      <div class="carousel-item">
        <img class="d-block w-100" src="../public/images/carousel/communication.png" alt="Gastronomy slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem Ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
      </div>
      <!---End-->
    </div>
    <a class="carousel-control-prev" type="button" data-target="#experience-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" type="button" data-target="#experience-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span> 
    </a>
  </div>

</section>
   <!---------STUDY---------------->
  <div id="education" class="white-section">
    
    <h1>Education</h1>
    <div class="education-item">
      <img class="edu-img" src="../public/images/education/dvorakovogympl.jpg" alt="Picture of Dvořák Grammar school">
      <h3><a href="https://www.dgkralupy.cz/">Dvořák Grammar School Kralupy nad Vltavou</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
    </div>
    <div class="education-item">
      <img class="udemy-img" src="../public/images/education/udemy.jpg" alt="Pitcure of the web Development course from Angela Yu">
      <h3><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">Web Development Course on Udemy</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
    </div>
    <div class="education-item">
      <img style="width: 340px;" class="edu-img" src="../public/images/education/next.jpg" alt="Opening Picture to the Next js course on Udemy">
      <h3><a href="#education">Next.js & Other programming courses</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Praesent in mauris eu tortor porttitor accumsan.</p>
    </div>
  </div>

   <!---------CONTACT-------------->
  <div id="contact" class="bg-warning text-dark">
    <center>
      <p>Click if you are interested . . .</p>
      <a href="/contact"><button type="button" class="btn btn-outline-dark">CONTACT ME!</button></a>
    </center>
  </div>

<%-  include("partials/footer") -%>